%h2 Resend confirmation instructions

- semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.inputs "Confirmation Instructions" do
    = f.input :email, :as => :email
    = f.commit_button "Resend"

= render :partial => "devise/shared/links"