#container
//  @include showgrid

#sidebar

.logo
  +column(7)
  height: 80px
  background: url('/images/logo.png') no-repeat
  display: block
#content
  min-height: 20 * $blueprint-grid-width

#footer
  +clearfix
  ul
    +delimited-list("|")
    li a
      +button-base
      border-width: 0

span[contenteditable]
  padding: 0 0.25*$blueprint-grid-width
  background-color: yellow
  border: 1px solid
  
form.formtastic abbr, form.formtastic acronym
  color: #FF0000
  border-color: #FF0000

.authenitcated-menu 
  +inline-list
  li a
    +button-button

#sidebar-links
  +no-bullets
  +blueprint-basic-reset

  li
    a
      +button-base
      padding: 0.25*$blueprint-grid-width 0
      margin: 0
      width: 100%
      border: none
      border-right: 1px solid #0099FF
      &.active
        color: #0099FF
        border: 1px solid #0099FF
        border-right: none

#recent-order-books
  .asks
    +table_base(8, true)
  .bids
    +table_base(8)
    +append(1)

#btc
  width: 98%
  height: 460px
  
#btc_pricing_graph
  width: 98%
  height: 450px

#user-order-book
  +clearfix
  +table_base(14, true)

#user-funds
  +clearfix
  +table_base(14, true)

#user-trade-book
  +clearfix
  +table_base(16, true)

.more
  text-align: right

.market_price_ticker
  +prepend(7)
  div
    +button-button
    +column(3)
    font-size: 150%
    text-align: center
    cursor: pointer

#new_search_criteria
  fieldset.buttons
    border: 0
    
    