body
  background: $gray

#container
  padding: 0 (2 * $blueprint-grid-width)
  background: $white
//  @include showgrid
#content
  min-height: 20 * $blueprint-grid-width

form.formtastic abbr, form.formtastic acronym
  color: #FF0000
  border-color: #FF0000

.authenitcated-menu 
  +inline-list
  li a
    +button-button

#sidebar-links
  +no-bullets

#recent-order-books
  +table_base(6, true)

#user-order-book
  +clearfix
  +table_base(14, true)

#user-trade-book
  +clearfix
  +table_base(16, true)

.more
  text-align: right


.market_price_ticker
  +prepend(7)
  div
    +button-button
    +column(3)
    font-size: 150%
    text-align: center
    cursor: pointer
  