#user-bankaccount
  = link_to 'Add Bank Account', new_bankaccount_path

  %table
    %caption
      %em My Bank Accounts
    %thead
      %tr
        %th Bank Name
        %th Account Number
        %th.last 
    %tbody
      - @bankaccounts.each do |bankaccount|
        %tr{class: cycle("odd", "even")}
          %td= bankaccount.name
          %td= bankaccount.number
          %td= link_to 'Remove', bankaccount, :confirm => 'Are you sure to remove this bank account?', :method => :delete
