- if user_signed_in? && !(current_page?(new_bid_url) || current_page?(new_ask_url)) && !current_user.admin?
  %div
    %ul.authenitcated-menu
      %li= link_to 'Buy Bitcoins', new_bid_url(:type => :limit)
      %li= link_to 'Sell Bitcoins', new_ask_url(:type => :limit)
