%ul
  = nav_link_to_current 'Trade', root_url
  = nav_link_to_current 'My Wallet', user_wallets_url
  = nav_link_to_current 'Settings', welcome_index_url
  = nav_link_to_current 'Support', welcome_index_url


