- if !current_user
  #col1
    %h2 Low fees
    %p Fixed low fees.
  #col2 
    %h2 More to come
    %p Expect unique Bitcoin-tailored financial instruments in the near future!
  #col3
    %h2 Single-address wallets
    %p Your wallet consists of a single address, whch means you can audit all your transactions on Blockexplorer.

