%center
  %h2 FAQ
  %hr
%h4 Please note that this page covers only the most frequently asked questions about BitFlow and BitCoins in general.
%br/
%h4 To acces our full Helpdesk and Mail Support, please click the "Feedback & Support" icon at the bottom right of this page.
%br/
%h3 BitFlow FAQ
%ul
  %li
    %a{:href => '#answer-1'} Question 1?
  %li
    %a{:href => '#answer-1'} Question 2?
%br
%h3 BitCoin FAQ Answers
%ul
  %li#answer-1 Answer 1
  %li#answer-2 Answer 2