%ul.span-14
  %li Lowest Commissions (0.3%)
  %li Dedicated BTC Wallet
  %li Trade BTC & Mining Contracts
  %li
    Earn interest with
    = link_to 'Fixed Mining', '/fixed_mining'
%hr
#recent-order-books
  .bids= render :partial => 'recent_orders', :locals => {:items => @asks, :item_type => 'Ask'}
  .asks= render :partial => 'recent_orders', :locals => {:items => @bids, :item_type => 'Bid'}
%hr.space
#tabs
  %ul
    %li
      %a{:href => '#btc_pricing_graph'} BTC
    %li
      %a{:href => '#fixed-mining'} Fixed Mining
    %li
      %a{:href => '#mining-contract'} Mining Contract
  #btc_pricing_graph

  #fixed-mining
    Fixed Mining
  #mining-contract
    Mining Contract

- content_for(:javascript) do
  = javascript_include_tag 'highstock.src'

  :javascript
    $(function(){ 
      price_chart = createPriceChart();
      $('#tabs').tabs();
    });
  