%center
  %h2 Latest Updates
  %hr
01/01/2012: BitFlow now has 20 employees who make a ton of profit share each! 
%br
10/08/2011: Final 1.0 now launched!
%br
01/08/2011: We launch beta real limit order trading with interview on The Bitcoin Show live from India (PJ visits for a week)
%br
25/07/2011: Alpha is finished!
%br
11/07/2001: The upfront payments are made!
%br
11/07/2011: The mockups are finished!