
%h3 Privacy Policy

%hr
The privacy policy of BitFlow come here.
%br 
It will be just plain text.
%br 
We will start with the sample Trust Guard generates.
%br 
Later on we'll pay a specialized law firm to write one.