%center
  %h1 Terms Of Use
  %hr

%p The terms of use of BitFlow come here.
%br/
%p It will be just plain text.
%br/
%p I'll start with paraphrasing other terms and conditions.
%br/
%p Later on we'll pay a specialized law firm to write one.
%br/
%p Terms of use need to mention:
%ul
  %li Changes we made to keep btw wallet fixed
  %li Limitation of liability
  %li User responsible to check legality in home jurisdiction
  %li Full authority to change terms of use
  %li Full authority to stop trading and cancel trades
  
      