%center
  %h2 Terms Of Use
  %hr
%table
  %tr
    %td
      %p The terms of use of BitFlow come here.
      %p
      %p It will be just plain text.
      %p
      %p I'll start with paraphrasing other terms and conditions.
      %p
      %p Later on we'll pay a specialized law firm to write one.
      %p
      %p Terms of use need to mention:
      * Changes we made to keep btw wallet fixed
      %br
      * Limitation of liability
      %br
      * User responsible to check legality in home jurisdiction
      %br
      * Full authority to change terms of use
      %br
      * Full authority to stop trading and cancel trades
      
      