%center
  %h2 Trading API
  %hr
%p The BitFlow Trading API allows developers to build applications that directly interact with our market place. 
%p
%p Potential uses include data aggregation, market arbitrage, mobile clients, etcetera.
%p
%p Public Data Functions:
%p  * Orderbook: (link)
%p  * Trades log: (link)
%p  * Price ticker: (link)
%p
%p Trading Functions:(see Tradehill)
  



  