%center
  %h1 Trading API
  %hr
%p The BitFlow Trading API allows developers to build applications that directly interact with our market place. 
%br/
%p Potential uses include data aggregation, market arbitrage, mobile clients, etcetera.
%br/
%p Public Data Functions:
%ul 
%li Orderbook: (link)
%li Trades log: (link)
%li Price ticker: (link)
%li Trading Functions:(see Tradehill)
  



  