= render partial: 'fund', locals: {funds: @funds}
= render partial: 'shared/order_book', locals: {snapshot: true, orders: @orders}
= render partial: 'shared/trade_logs', locals: {snapshot: true, trades: @trades}
