= render partial: 'fund', locals: {row_limit: 2, funds: @funds}
= render partial: 'order_book', locals: {row_limit: 5, orders: @orders}
= render partial: 'trade_book', locals: {row_limit: 5, trades: @trades}
