%h2 Forgot Your password?
- semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.inputs 'Reset Password' do
    = f.input :email, :as => :email
    = recaptcha_tags unless Recaptcha.configuration.skip_verify_env.include? Rails.env
    = f.commit_button "Send me reset password instructions"
