%form{:action => '/admin/settings/update', :method => 'POST'}
  %fieldset
    %ol
      %li
        %label{:for => "setting[commission_fee]"} Commission Fee :
        %input{:type => 'text', :name => 'setting[commission_fee]', :value => @settings[:commission_fee]}
      %li
        %label{:for => "setting[referral_discount_percentage]"} Referral Discount :
        %input{:type => 'text', :name => 'setting[referral_discount_percentage]', :value => @settings[:referral_discount_percentage]} %
      %li
        %label{:for => "setting[fund_withdrawal_fee]"} Fund Withdrawal Fee :
        %input{:type => 'text', :name => 'setting[fund_withdrawal_fee]', :value => @settings[:fund_withdrawal_fee]} %
      %li
        %label{:for => "setting[daily_withdrawal_limit]"} Daily Withdrawal limit :
        %input{:type => 'text', :name => 'setting[daily_withdrawal_limit]', :value => @settings[:daily_withdrawal_limit]}
      %li
        %label{:for => "setting[monthly_withdrawal_limit]"} Monthly Withdrawal limit :
        %input{:type => 'text', :name => 'setting[monthly_withdrawal_limit]', :value => @settings[:monthly_withdrawal_limit]}
      %li
        %label{:for => "setting[circuit_breaker_change_percent]"} Circuit Breaker change Percentage :
        %input{:type => 'text', :name => 'setting[circuit_breaker_change_percent]', :value => @settings[:circuit_breaker_change_percent]}
      %li
        %label{:for => "setting[circuit_breaker_change_period]"} Circuit breaker Change Period :
        %input{:type => 'text', :name => 'setting[circuit_breaker_change_period]', :value => @settings[:circuit_breaker_change_period]}
      %input{:type => "submit", :value => "Save", :class => "button"}

= link_to 'Back', admin_root_url
